application/logs
# assets/
# application/config/database.php
# uploads/

# application/logs
# assets/backend/images/bg-auth.jpeg
# application/config/database.php
# uploads/users/*
# uploads/users/placeholder.jpg
# uploads/addons/
# uploads/attendances/
# uploads/materials/
# uploads/syllabus/
# uploads/finance/
# uploads/ebook/
# uploads/system/gallery/
# uploads/system/new_flash/
# uploads/system/qr/
# uploads/system/superiority/*
# uploads/system/logo/*
# uploads/job_fair/*
# uploads/course_thumbnail/
# uploads/lesson_files/
# uploads/registrations/
# uploads/assignment_files/
# uploads/alumni_file/
# uploads/images/alumni_gallery/
# uploads/images/alumni_events/
# uploads/images/about_us/
# uploads/images/gallery_cover/
# uploads/images/gallery_images/
# uploads/images/notice_images/
# uploads/images/slider/
# uploads/thumbnails/lesson_thumbnails/