:root {
    --themes-green: #30AB7F;
    --themes-red: #FF1614;
    --themes-blue: #237F9B;
    --body-color: #E8EDEF;
    --color-1: #D31E0B;
    --color-2: #ffc300;
    --color-3: #f1f1f1;
    --color-4: #eae5e5;
    --color-5: #707070;
    --color-6: #C4C0C0;
    --color-7: #C1C3C4;
    --color-8: #E7E7E7;
    --color-9: #f1f1f1;
    --color-10: #525354;
    --color-11: #747C89;
    --color-12: #062442;
    --color-13: #B1B1B1;
    --color-14: #FA2516;
    --color-15: #707070;
    --color-16: #E8E5E5;
    --color-17: #D31E0B;
    --color-18: rgba(0, 0, 0, 0.904);
    --gradient-1: linear-gradient(143.61deg, #FA2516 4.22%, #FD9918 95.14%);
    --gradient-2: linear-gradient(143.61deg, #FA2516 4.22%, #FD9918 95.14%);


    --jumboImg: url("image/jumbotronImageMerah.png");
    --pplBrandImg: url("image/mPeopleBrand-only.png");
    --imgUnggulMain: url("image/bubble-red.png");
    --imgGallery: url("image/bubble-red-2.png");
    --loginVectors: url("image/loginImage-red.png");
    --kalenderBg: url("image/kalenderDesk-red.png");
    --ppdbLoginImg: url("image/ppdbLoginImg-red.png");
    --ppdbLoginImg-2: url("image/ppdbLoginMobileRed.png");
    --bg-imgs-1: url("image/bg-bubble-red.png");
    --bg-imgs-2: url("image/bg-bubble-red.png") no-repeat scroll 120% 10%, url("image/bg-ppls-red.png") no-repeat scroll left 10%;
    --iconMapsThemes: url("image/iconMapMerah.png");
    --allMapsThemes: url("image/allMapMerah.png");
    --galleryIcons: url("icon/gallery_topIcon_red.png")
}

body .loginVector {
    height: 165px !important;
}

body .loginVectors {
    height: 135px !important;
}

@media screen and (max-width: 992px) {
    body .loginVector {
        height: 140px;
    }

    body .loginVectors {
        height: 125px;
    }
}

@media screen and (max-width: 425px) {
    body .loginVector {
        height: 115px;
    }

    body .loginVectors {
        height: 90px;
    }
}

@media screen and (max-width: 375px) {
    body .loginVector {
        height: 85px;
    }

    body .loginVectors {
        height: 65px;
    }
}

.btn-login-close {
    top: -7%;
}

.btn-login-close-5 {
    top: -5%;
}